<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker running Nginx - rev-proxy</title>
</head>
<style>
    html {
        background-color: black;
    }
    article {
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
        background-color: black;
        color: springgreen;
        justify-content: center;
        height: 100vh;
        font-size: 3.5em;
    }
</style>
<body>

{{ define "article" }}
    <article>
        Here is an article about running Nginx in a Docker container as a reverse proxy.
        <a href="articles/docker_nginx.html">Docker running Nginx - rev-proxy</a>
    </article>

{{ end }}
</body>
</html>